<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Esto va a aparecer en la pestanna del navegador</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Ejemplo de un index.html</h1>
        </header>
        <section>
            <h2>[[#{carrito.titulo}]]</h2>
            <h2>Esta es la tienda en linea</h2>
        </section>
        <footer>
            <h3>Todos los derechos reservados TechShop 2025</h3>
        </footer>        
    </body>
</html>
