<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Imagenes</h1>
        </header>
        <aside>
            <h1>Multimedia</h1>
            <p>LIncorporacion de recursos multimedia</p>
        </aside>
        <section>
            <h2>Uso de multimedia</h2>
            <article> 
                <h3>Musica Celta</h3>
            </article>
            <article>
                <h3>Pelicula de accion</h3>
            </article>
        </section>
        <footer>
            <h3>TOdos los derechos reservados</h3>
        </footer>
    </body>
</html>
